/*css for all the images on the website*/

table tr td img {
	width: 200px;
	border-radius: 10px;
}

video {
	margin-left: auto;
	margin-right: auto;	 
}

.pay img{
	width: 50px;
}

.imag img{
	width: 35%;
	height: 275px;
	padding: 15px;
	margin-left: 30%;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 20px;
}

.imag1 img{
	width: 70%;
	height: 5%;
	padding: 15px;
	margin-left: 15%;
	margin-right: auto;
	border-radius: 15px;

}

footer img {
	width: 50px;	
	float: right;
	padding-left: 15px;
	padding-right: 15px;
}

.center {
    text-align: center;
   	padding: 5px;
	margin: 25px;
}

.button {
    position: absolute;
    top: 50%;
}

.center a {
	text-decoration: none;
	color: #000000;
	background-color: #C0C0C0 ;
	padding: 5px;
	margin: 25px;
	border-radius: 4px;
	border: 1px solid #000000;
}

.center a:hover{
	color: green;
	background-color: #ffffff;
} 